/**
 * about carousel  
 */
.carousel {
  position: relative;
  margin-bottom: 20px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img {
  display: block;
  line-height: 1;
  width: 100%;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100px;
  height: 100%;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.carousel-control.right {
  right: 0px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  background: #222;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control span {
  display: none;
  position: absolute;
  top: 45%;
  left: 30px;
}

.carousel-control:hover span {
  display: block;
}

.carousel-caption {
  position: absolute;
  right: 100px;
  bottom: 0;
  left: 100px;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
  height: auto;
  -webkit-border-radius: 23px 23px 0px 0px;
   -moz-border-radius: 23px 23px 0px 0px;
        border-radius: 23px 23px 0px 0px;
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}



/**
 *   add by copy && not from bootstrap.css
 */
.carousel-indicators {
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black 9;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: white;
}

/**
 * about works-ablum  
 */
.album {
  height: 30px;
  width: 100%;
  margin-bottom: -50px;
  padding-top: 20px;
}

.album a {
  color: #666;
  padding: 5px;
}

.album a:hover {
  color: #777;
  text-shadow: 0.1em 0.1em 0.05em #333;
  background-color: #282828;
  -webkit-border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
}

.album .select{
  background-color: #363636;
  -webkit-border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
}


