<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>struggle, stayreal</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/server.css">
    <link rel="stylesheet" href="css/about.css">
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/Router.js"></script>
    <script src="js/Model.js"></script>
    <script src="js/View.js"></script>
    <script src="js/lib/carousel.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li><a href="#about" id="header-nav-item0">about</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
      
      <!--    index page    -->
      <section id="page-index">
        <div id="title">
          <h1>Stay Real</h1>
          <p>一直有 。。。 </p>
        </div>
		    <div class="content">
		      <div class="input">
            <input placeholder="Server IP or 127.0.0.1" id="server-ip" name="ip" ctype='ip' data-default-ip="127.0.0.1">
            <input placeholder="Server Port Or 9600" id="server-port" name="port" ctype="number" data-default-port="9600">
          </div>
          <p class="font-gray">服务器地址&nbsp;&nbsp;<span>
            <a href="javascript:void(0);" id="server-show" data-default='默认：没有后台'>默认：没有后台</a>
            </span>
          </p>
        </div>
        <script type="text/template" id="server-show-template">
          <span id="show-ip"><%= ip %></span>:
          <span id="show-port"><%= port %></span>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="arrow-rigt" href="javascript:void(0);">&gt;&gt;</a>
        </script>
      </section>
      
      <!--    about page    -->
      <section id="page-about">
        <div id="title">
          <h1>My Works</h1>
          <p>一直没。。</p>
          <!-- album -->
          <div class="album">
          </div>
        </div>
        <div class="content">
          <div id="myworks" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myworks" data-slide="prev">
              <span>&lt;</span>
            </a>
            <a class="right carousel-control" href="#myworks" data-slide="next">
              <span>&gt;</span>
            </a>
          </div>
        </div><!-- end content -->
        <script type="text/template" id="works-item-template">
          <% for(i in work) { %>
            <div class="item <%= work[i].isFirst ? 'active' : '' %>">
              <img src="<%= work[i].imgUrl %>" alt="<%= work[i].imgAlt || '' %>" data-href="<%= work[i].href %>"/>
              <div class="carousel-caption">
                <%= work[i].caption || '' %>
              </div>
            </div>     
          <% } %>    
        </script>
        <script type="text/template" id="works-indicator-template">
          <% for( i=0; i<len; i++) {%>
           <li data-target="#myworks" data-slide-to="<%= i %>" <%= i === 0 ? 'class=\"active\"' : '' %> ></li>
           <% } %>       
        </script>
        <script type="text/template" id="works-album-template">
          <% for(i in album) %>
          <a href="javascript:void(0);" data-tag-index="<%=album[i].tagId%>" <%= album[i].select ? 'class="select"' : ''%>><%= album[i].tagName %></a>
        </script>
      </section>
      
       <!--    server page    -->
      <section id="page-server">
        <div id="title">
          <h1>My Server</h1>
          <p>一直 。。。 </p>
        </div>
        <div class="content">
          <div class="server-item">
            <span class="server-item-title">MySQL执行速度</span>
            <div class="server-item-desc">
              自己写的server，看看怎样的链接速度
            </div>
            <div class="server-item-op">
              <span><a>test network speed</a></span>
              <span><a>send a req</a></span>
              <span><a>test select time</a></span>
            </div>
          </div>
          <div class="server-item">
            <span class="server-item-title">网络抓图</span>
            <div class="server-item-desc">
              通过java后台，调用python程序网络抓图
            </div>
             <div class="server-item-op">
              <span>输入网站域名：<input type="text">&nbsp;<a>抓取</a></span>
              <span></span>
            </div>
          </div>
          <div class="server-item">
            <span class="server-item-title">GAME墓地</span>
            <div class="server-item-desc">
              很无聊地到了最后一关，不要以为有什么好结果
            </div>
            <div class="server-item-op">
              <div></div>
              <span>组合请求url 》》返回值包含锁的坐标 》》点击锁的位置出现密码输入框 》》 请求进入下一关</span>
              <span></span>
            </div>
          </div>
        </div>
      </section>
      
    </div><!-- end wrapper -->
    
    <div class="footer">
      <div class="credits">
        <span class="right">2013-10-31 start maintained by &mdash; <a href="https://github.com/zizih">hezi</a></span>
      </div>
    </div><!-- end footer -->
    <script type="text/template" id="alert-template">
      <div class="alert" style="top:<%=top%>;left:<%=left%>">
        <%= firstContent %>
      </div>
    </script>
    <script type="text/javascript">
      app.init();
      Backbone.history.start();
    </script>
  </body>
</html>